@font-face {
  font-family: "StarJedi";
  src: local("StarJedi"),
    url(./fonts/star-wars-font/STARWARS.woff) format("woff2");
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.main-image {
  width: 100%;
}
